body {
    font-family: Gothic Intrigue;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;

}


.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

button {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.delete-btn {
    background-color: #d9534f;
}

.delete-btn:hover {
    background-color: #c9302c;
}

.complete-btn {
    background-color: #5bc0de;
}

.complete-btn:hover {
    background-color: #31b0d5;
}

.task-actions {
    display: flex;
    gap: 5px;
}

#timerInput {
    width: calc(50% - 10px); /* Adjust width as per form alignment */
}

#timeRemaining {
    font-size: 16px;
    color: #333;
}

.notes-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 350px; /* Largura inicial */
    min-width: 350px; /* Largura mínima de 350px */
    max-width: 500px; /* Largura máxima de 500px */
    height: 95vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    resize: horizontal; /* Permite redimensionamento apenas do sidebar */
    overflow: hidden; /* Evita overflow */
    transition: width 0.1s linear; /* Transição suave para a largura */
}

#notesInput {
    flex: 1;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto; /* Garante que o conteúdo seja rolável se maior que a caixa */
    width: 100%; /* Sempre se ajusta à largura do contêiner */
    color: #000; /* Cor padrão do texto */
    background-color: #fff; /* Cor padrão do fundo */
}

.toolbar button, .toolbar input[type="color"] {
    margin-right: 5px;
}

.toolbar {
    margin-bottom: 10px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.clear-btn {
    background-color: red;       /* Cor de fundo vermelha */
    color: white;                /* Texto branco para contraste */
    border: none;                /* Sem borda */
    padding: 10px 20px;          /* Padding para tornar o botão maior */
    border-radius: 5px;          /* Bordas arredondadas */
    cursor: pointer;             /* Cursor de ponteiro para indicar que é clicável */
    font-weight: bold;           /* Texto em negrito */
    margin-top: 20px;            /* Margem superior para separá-lo de outros elementos */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.clear-btn:hover {
    background-color: darkred;  /* Cor de fundo mais escura ao passar o mouse */
}
#colorPicker {
    margin-top: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -webkit-appearance: none;  /* Desativa a aparência padrão no WebKit primeiro */
    appearance: none;          /* Adiciona a propriedade padrão depois */
    transition: transform 0.3s ease-in-out;
    transform: scale(1); /* Estado normal */
}
#colorPicker:focus {
    transform: scale(1.1); /* Ligeiramente maior quando focado */
}


/* Estilo para a parte que se clica para abrir a paleta de cores */
#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

/* Estilo para a cor atual mostrada no picker */
#colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
